body {
  background-color: #AAA1EB !important;
}

#title {
  font-family: 'Baloo Bhai', cursive;
  margin: auto, 10px, auto, 10px;
  text-align: center;
  font-size: 60px;
  color: #010101;
}

#timeType {
  font-family: 'Baloo Bhai', cursive;
  margin: auto;
  text-align: center;
  font-size: 30px;
  color: white;
}

#timeCapsule {
  background-color: #BEBEEB;
  font-family: 'Baloo Bhai', cursive;
  border-style: solid;
  border-color: white;
  border-width: 6px;
  font-size: 40px;
  text-align: center;
  padding-right: 20px;
  color: #8199A3;
  overflow: hidden;
  width: 300px;
  height: 150px;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  border-radius: 5000px;
  margin: auto;
  position: relative;
}

#timer {
  color: white;
  font-size: 50px;
  font-family: 'Baloo Bhai', cursive;
  text-align: center;
  vertical-align: middle;
}

#infinity {
  margin: auto;
  position: relative;
  width: 130px;
  height: 100px;
}

#infinity:before,
#infinity:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 0;
  width: 60px;
  height: 60px;
  border: 12px solid red;
  -moz-border-radius: 50px 50px 0 50px;
  border-radius: 50px 50px 0 50px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#infinity:after {
  left: auto;
  right: 0;
  -moz-border-radius: 50px 50px 50px 0;
  border-radius: 50px 50px 50px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ball {
  width: 15px;
  height: 15px;
  background-color: #E9614E;
  border-radius: 40px;
  position: absolute;
  top: 48%;
  left: 1%;
  z-index: 1;
  animation: myfirst 5s linear infinite;
  -webkit-animation: myfirst 5s linear infinite;
  /* Safari and Chrome */
}

@keyframes myfirst {
  6.25% {
    top: 31%;
    left: 3%
  }
  12.5% {
    top: 21%;
    left: 11%;
  }
  18.75% {
    top: 18%;
    left: 25%;
  }
  25% {
    top: 48%;
    left: 47%;
  }
  31.25% {
    top: 70%;
    left: 71%;
  }
  37.5% {
    top: 71%;
    left: 82%
  }
  43.75% {
    top: 59%;
    left: 92%;
  }
  50% {
    top: 48%;
    left: 94%;
  }
  56.25% {
    top: 31%;
    left: 92%;
  }
  62.5% {
    top: 21%;
    left: 82%;
  }
  68.75% {
    top: 18%;
    left: 70%;
  }
  75% {
    top: 48%;
    left: 47%;
  }
  81.25% {
    top: 63%;
    left: 33%;
  }
  87.5% {
    top: 70%;
    left: 19%;
  }
  93.75% {
    top: 68%;
    left: 7%;
  }
  100% {
    top: 48%;
    left: 1%;
  }
}

@-webkit-keyframes myfirst
/* Safari and Chrome */

{
  6.25% {
    top: 31%;
    left: 3%
  }
  12.5% {
    top: 21%;
    left: 11%;
  }
  18.75% {
    top: 18%;
    left: 25%;
  }
  25% {
    top: 48%;
    left: 47%;
  }
  31.25% {
    top: 70%;
    left: 71%;
  }
  37.5% {
    top: 71%;
    left: 82%
  }
  43.75% {
    top: 59%;
    left: 92%;
  }
  50% {
    top: 48%;
    left: 94%;
  }
  56.25% {
    top: 31%;
    left: 92%;
  }
  62.5% {
    top: 21%;
    left: 82%;
  }
  68.75% {
    top: 18%;
    left: 70%;
  }
  75% {
    top: 48%;
    left: 47%;
  }
  81.25% {
    top: 63%;
    left: 33%;
  }
  87.5% {
    top: 70%;
    left: 19%;
  }
  93.75% {
    top: 68%;
    left: 7%;
  }
  100% {
    top: 48%;
    left: 1%;
  }
}

button {
  background-color: #56419C;
  /* Green */
  border: none;
  color: white !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px !important;
  margin: 4px 2px !important;
  border-radius: 30px;
  cursor: pointer !important;
}

#configTitle {
  font-family: 'Baloo Bhai', cursive;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

#configBox {
  font-family: 'Baloo Bhai', cursive;
  margin: auto;
  text-align: center;
  font-size: 30px;
}

#buttonBox {
  font-family: 'Baloo Bhai', cursive;
  margin: auto;
  text-align: center;
}

.conTitle {
  margin: 100px;
  color: white;
}

.red {
  color: #E9614E !important;
}
